*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

/* HEADER */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-items: center;
  /* background-color: purple; */
  height: 293px;
}

.header__nav {
  display: flex;
  gap: 34px;
  list-style-type: circle;
}

.nav__item-no-bullit {
  list-style-type: none;
}

.nav__item-active {
  text-decoration-line: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__address {
  margin: 0;
  padding: 0;
  max-width: 236px;
  justify-self: end;

}

.header__address-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  line-height: 135%;
}

/* COVER - main content 1 */

.main__cover {
  width: 1100px;
  min-height: 757px;
  display: flex;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main__cover-overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 0.6);
  width: 100%;
  height: 100%;
}

.main__cover-title {
  margin: 165px 50px 0;
  height: 100%;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: white;
}

.main__cover-title-left {
  display: block;
}

.main__cover-title-center {
  display: block;
  text-align: center;
}

.main__cover-title-right {
  display: block;
  text-align: end;
}
