*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  /* background-color: purple; */
  height: 293px;
}

.header-logo {
}

.nav__list {
  display: flex;
  gap: 34px;
  list-style-type: circle;
}

.nav__item-no-bullit {
  list-style-type: none;
}

.nav__item-active {
  text-decoration-line: none;
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 135%;
  color: #000;
  max-width: 240px;
}
