*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

/* HEADER */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-items: center;
  /* background-color: purple; */
  height: 293px;
}

.header__nav {
  display: flex;
  gap: 34px;
  list-style-type: circle;
}

.nav__item-no-bullit {
  list-style-type: none;
}

.nav__item-active {
  text-decoration-line: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__address {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #000;
  max-width: 240px;
}

/* COVER - main content 1 */

.main__cover {
  width: 1100px;
  height: 757px;
  display: grid;
  position: relative;
}

.main__cover-img {
  width: 100%;
  height: 100%;
}

.main__cover-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
}
